@import "./../../../abstracts/variables";
@import "./../../../abstracts/mixins";
@import "./../Events/events.module.scss";

.sponsors {
    width: 100vw;
    margin: 0 auto;
    max-width: 3000px;
    padding: 4rem 0px;
    background: color(white);

    @include response(md) {
        width: 120vw;
        margin-left: -10vw;
        padding: 3rem 0px 2rem;
    }

    &-div {
        @extend .events-div;
        overflow: hidden;
        background-color: color(white);
        
        &-heading {
            @include title;
            font-size: size(xl);
        }

        @include response(sm) {
            padding: 6rem 0px 5rem;
        }
    }
}
  
.slick-slide div {
    margin: 20px;
}