@import "./../../../abstracts/variables";
@import "./../../../abstracts/mixins";
@import "./../Events/events.module.scss";

.sponsors-div {
    @extend .events-div;
    overflow: hidden;
    background-color: color(white);
    
    &-heading {
        @include title;
        font-size: size(xl);
    }
}

.sponsors {
    width: 100vw;
    margin: 0 auto;
    max-width: 3000px;
    padding: 40px 0px;
    background: color(white);
}

.slick-slide div {
    margin: 20px;
}

.slick-slide img {
    margin: auto;
}

// .slick-dots li button::before, .slick-dots li.slick-active button:before {
//     color: color(blue1);
// }