@import "./../../../abstracts/variables";
@import "./../../../abstracts/mixins";

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: color(blue6);
    margin-top: -1rem;

    &-heading {
        @include title(blue1);
        margin: 6rem 5px 3rem;
        font-size: size(lg);
        @include response(lg/md) {
            font-size: size(lg)-0.5rem;
        }
    }

    &-text {
        width: 80%;
        max-width: 800px;
        font-size: size(xs);
        line-height: 2.5rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    &-btn-scroll {
        width: 80%;
        max-width: 500px;

        &-container {
            width: 100%;
            padding-bottom: 5rem;

            &-button {
                cursor: pointer;
                width: 100%;
                padding: 15px 40px;
                border: 2px solid color(blue1);
                color: color(blue1);
                background-color: transparent;
                font-family: font(merri);
                font-weight: bold;
                font-size: size(md);
                text-align: center;
                padding: 2rem;
                margin-bottom: 15px;
                transition: all 0.5s;

                &:hover {
                    color: color(blue6);
                    border: 2px solid color(blue1);
                    background-color: color(blue1);
                }

                @include response(lg) {
                    font-size: size(md) - 0.3rem;
                }
            }
        }
        @include response(lg) {
            margin-top: 2rem;
        }
    }
}
