@import "./../../../abstracts/variables";
@import "./../../../abstracts/mixins";

.card {
    @include flexPosition;
    flex-direction: column;
    margin: 0 4vw 3rem;
    z-index: 1;
    width: 20rem;

    &-crop {
        height: 18rem;
        width: 18rem;
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        @include flexPosition(center, center);

        &-img {
            width: 100%;
        }
    }
    

    &-title {
        font-family: font(merri);
        font-weight: bold;
        font-size: 2.2rem;
        margin: 1.2rem 0 .5rem;
        text-align: center;
    }
    &-name {
        font-family: font(source);
        font-size: 1.8rem;
        text-align: center;
    }

    &-btn {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        box-sizing: border-box;

        &-email, &-linkedin {
            text-decoration: none;
            width: 40px;
            height: 40px;
            // border: .1rem solid color(blue1);
            border-radius: 100%;
            @include flexPosition(center, center);
            background-color: #00639C;
            margin: 0 1.5rem;
            transition: all 0.3s;

            &-icon {
                width: 20px;
                z-index: 1;
            }

            &:hover {
                background-color: darken(color(blue1), 10%);
            }
        }
        &-email {
            &-icon {
                width: 24px;
            }
        }
    }

    @include response(lg/md) {
        margin: 0 3vw 3rem;
        width: 18rem;
        &-crop {
            height: 16rem;
            width: 16rem;
        }
    }

    @include response(md) {
        width: 17rem 1rem;
        &-crop {
            height: 14rem;
            width: 14rem;
        }
    }

    @include response(sm) {
        width: 16rem;
        margin: 0 2vw 1rem;
        
        &-title{
            font-size: 1.7rem;
        }
        &-name {
            font-size: 1.5rem;
        }
    }
}