@import "./../../../abstracts/variables";

.copyright {
    font-weight: 600;
    font-size: size(sm);
    margin-top: 4rem;
    text-align: center;
    font-family: font(source);
    color: color(white)
}

