@import "./../../../abstracts/variables";
@import "./../../../abstracts/mixins";

// Header
.header {
    @include flexPosition(space-between, flex-start);
    width: 100vw;
    padding: 0 2rem;
    margin: auto;
    position: fixed;
    top: 0;

    .logo {
        height: calc(50vw/6);
        max-height: 110px;
        min-height: 50px;
        margin-left: 1rem; 
        padding-top: 1rem;

        &-img {
            height: 100%;
            
        }
    }

    .logoShrink {
        height: 50px !important;
        width: 50px;
        animation: shrink 0.2s ease-in;
        padding: .5rem; 
        margin-top: .5rem; 
        margin-left: 0.5rem; 
    }

    .logoBackground {
        background-color: color(white);
        border-radius: 200px;
        @include flexPosition(center,center);
        margin-left: 0; 

        &:hover {
            background-color: color(blue7);
        }
    }

    .logoGrow {
        width: auto;
        height: calc(50vw/6) !important;
        animation: grow 0.2s ease-in;
    }
}

@keyframes shrink {
    0% { height: calc(50vw/6); }
    100% { height: 50px; }
}

@keyframes grow {
    0% { height: 50px; }
    100% { height: calc(50vw/6); }
}

// Navigation on top right corner
.nav {
    &-list {
        @include flexPosition(space-around);
        font-size: size(xs);
        font-weight: 600;
        font-family: font(roboto);
        color: color(blue1);
        width: calc(100% - 140px);

        &-item {
            list-style: none;
            padding: 0 .8rem;
        }

        a {
            font-size: size(xs) !important;
            transition: all 0.3s;
            list-style: none;
            text-align: center;
            text-decoration: none;
            color: color(blue1);

            &:hover, &:focus {
                color: color(blue4);
                background-color: transparent;
                outline: none;
            }

            &:active {
                color: color(orange1);
            }
        }
    }        
}

.slideoutNav {
    padding-left: 20px;
    width: 750px;
    height: 60px;
    background-color: color(white);
    position: fixed;
    right: -750px;
    // @include flexLayout;
    transition: right 0.8s cubic-bezier(1, 0, 0, 1);
    @include flexPosition;
    border-bottom: solid 1px #999;
    border-left: solid 1px #999;

    @include response(lg) {
        width: 60vw;
        right: -60vw;
        height: 100vh;
        @include flexPosition(center, center);

        .nav-list {
            flex-direction: column;
            width: 100%;

            a {
                padding: 30px;

                li {
                    font-size: size(lg);
                }
            }
        }
    }

    @include response(lg) {
        .nav-list a li {
            font-size: size(md);
        }
    }
}

.hamburger-menu {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 10px;
    right: 40px;
    z-index: 300;

    transform: rotateZ(90deg);
    transform-origin: center center;

    @include response(lg) {
        transform: rotateZ(0deg);
    }

    .menu {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        transition: transform 0.5s;

        &-line {
            width: 100%;
            height: 4px;
            background-color: color(orange1);
            transition: all .5s .5s;
            transform-origin: right;
        }
    }
}

.checkbox:checked ~ .slideoutNav {
    right: 0;
}
.checkbox:checked ~ .hamburger-menu .menu {
    transform: rotateZ(90deg);
}
.checkbox:checked ~ .hamburger-menu .menu-line-1 {
    transform: rotateZ(-42deg);
}
.checkbox:checked ~ .hamburger-menu .menu-line-2 {
    opacity: 0;
}
.checkbox:checked ~ .hamburger-menu .menu-line-3 {
    transform: rotateZ(42deg);
}