@import "./../../../abstracts/variables";
@import "./../../../abstracts/mixins";

// Header
.header {
    @include flexPosition(space-between, flex-start);
    width: 100vw;
    padding: 0rem 2rem;
    box-sizing: border-box;
    margin: auto;
    z-index: 100;
    position: fixed;
    top: 0;

    .logo {
        height: calc(50vw/6);

        &-img {
            height: 100%;
        }
    }
}

// Navigation on top right corner
nav {
    // Writing all this to overwrite Materialize's CSS for the nav element
    color: color(white);
    text-decoration: none;
    background-color: transparent;
    box-shadow: none;
    width: auto;

    .nav {
        &-list {
            @include flexPosition(space-around);
            font-size: size(xs);
            font-family: font(source);
        }

        &-item {
            list-style: none;
            padding: 0 .8rem;
        }

        &-link  {
            font-size: size(xs) !important;
            transition: all 0.3s;
            line-height: 143%;
            text-align: center;

            &:hover {
                color: color(blue4);
                background-color: transparent;
            }
        }
    }
}
