@import "./../../abstracts/mixins";

.team-container {
    width: 100vw;
    flex-direction: column;
    @include flexPosition;
}

.row {
    @include flexPosition(center, center);
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}