@import "./../../abstracts/variables";
@import "./../../abstracts/mixins";

.logo-sm {
    height: calc(50vw/12) !important;
}

.blue-on-white {
    a {
        color: color(blue1) !important;
    }
}

.team-nav {
    width: 100vw;
    @include flexPosition(center, center);
    margin: 20rem 0 5rem;

    &-list {
        @include flexPosition;
        border-bottom: 3px solid color(blue1);

        &-item {
            font-family: font(merri);
            font-weight: bold;
            font-size: 2rem;
            text-align: center;
            color: color(blue1);
            padding: 2rem;
            list-style: none;
            cursor: pointer;
            transition: all 0.4s;

            &:hover {
                background-color: color(blue6);
            }
        }

        .computer-nav-item {
            color: color(blue2);

            &:hover {
                background-color:#B4DAEA;
            }
        }
        .electronics-nav-item {
            color: color(green1);

            &:hover {
                background-color: #C6ECEE;
            }
        }

    }

}

.team-container {
    width: 100vw;
    flex-direction: column;
    @include flexPosition;
}

.card {
    @include flexPosition;
    flex-direction: column;
    margin: 0 5vw;
    z-index: 1;

    &-crop {
        height: 21rem;
        width: 21rem;
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        @include flexPosition(center, center);

        &-img {
            width: 100%;
        }
    }


    &-title {
        font-family: font(merri);
        font-weight: bold;
        font-size: 2.2rem;
        margin-top: 1.2rem;
        text-align: center;
    }
    &-name {
        font-family: font(source);
        font-size: 1.8rem;
        text-align: center;
    }

    &-btn {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        box-sizing: border-box;

        &-email, &-linkedin {
            text-decoration: none;
            width: 40px;
            height: 40px;
            // border: .1rem solid color(blue1);
            border-radius: 100%;
            @include flexPosition(center, center);
            background-color: #00639C;
            margin: 0 1.5rem;
            transition: all 0.3s;

            &-icon {
                width: 20px;
                z-index: 1;
            }

            &:hover {
                background-color: darken(color(blue1), 10%);
            }
        }
        &-email {
            &-icon {
                width: 24px;
            }
        }
    }
}


@mixin flexPosition ($jusCon: space-between, $alIte: center) {
    display: flex;
    justify-content: $jusCon;
    align-items: $alIte;
}

.skyline-imgs {
    width: 100vw;
    z-index: -100;
    margin-top: -40rem;
    @include flexPosition(space-between, flex-end);

    &-lr {
        width: 40vw;
        max-width: 55rem;
    }
}

.team-container {
    width: 100vw;
    flex-direction: column;
    @include flexPosition;
}

.row {
    @include flexPosition(center, center);
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

// @import "./../../../abstracts/variables";
// @import "./../../../abstracts/mixins";

.team-nav {
    width: 100vw;
    @include flexPosition(center, center);
    margin: 4rem 0 5rem;

    &-list {
        @include flexPosition;
        border-bottom: 3px solid color(blue1);

        &-item {
            font-family: font(merri);
            font-weight: bold;
            font-size: 2rem;
            text-align: center;
            color: color(blue1);
            padding: 2rem;
            list-style: none;
            line-height: 100%;
            cursor: pointer;
            transition: all 0.4s;

            &:hover {
                background-color: color(blue6);
            }
        }

        .computer-nav-item {
            color: color(blue2);

            &:hover {
                background-color:#B4DAEA;
            }
        }
        .electronics-nav-item {
            color: color(green1);

            &:hover {
                background-color: #C6ECEE;
            }
        }

    }

}

//@import "./../../../abstracts/variables";
//@import "./../../../abstracts/mixins";

.select-year {
    width: 100%;
    margin-top: 120px;
    @include flexPosition(center, center);
    flex-direction: row-reverse;

    &-div {
        display: inline-block;

        font-family: font(merri);
        font-weight: bold;
        font-size: size(md);
        color: color(blue1);

        width: 280px;
        height: auto;


        border: none;
        outline: none;
        border-bottom: 3px solid color(blue1);
        border-radius: 0;

        padding: 15px 45px 15px 25px;

        background: none;


    }
}



.triangle-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid color(blue1);
    margin-left: -36px;
}
