@import "./../../../../abstracts/variables";
@import "./../../../../abstracts/mixins";

.sponsors {
    @include flexPosition;

    &-container {
        @include flexPosition;
        flex-direction: column;
        transition: all .4s;
        padding: 1rem 4rem 0;
        text-decoration: none;
        margin-top: 10px;

        &:hover {
            padding-top: 0;
        }

        &-img-div {
            height: 10rem;
            width: 100%;
            @include flexPosition(center, center);
            outline: none;
        }

        &-img {
            display: block;
            max-width: 15vw;
            max-height: 10rem;
            width: auto;
            height: auto;
        }

        &-tier {
            color: color(green1);
            font-family: font(merri);
            font-weight: bold;
            font-size: size(sm);
            margin-top: 2rem;
            text-align: center;
        }

        @include response(lg/md) {
            margin-top: 0;
            &-img-div {
                height: 10rem;
            }
        }

        @include response(md) {
            padding: 1rem 0 0;

            &-img-div {
                height: 10rem;
            }

            &-img {
                max-width: 30vw;
            }

            &-tier {
                font-size: 1.6rem;
            }
        }
    }
}