* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.page {
    height: 100vh;
    width: 100%;
    background: #444;

    > div {
        height: 100%;
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #F7FAFB
    }
}

.main {
    height: 100%;
    width: 80%;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 50px;

    .searchContainer {
        height: 100px;
        width: 100%;
    }

    h1, h2, h3 {
        align-self: flex-start;
    }

    .bigCard {
        width: 100%;
        height: 250px;
        background: #FFFFFF;
        border-radius: 7px;
        margin-top: 40px;
        -webkit-box-shadow: 3px 4px 13px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 4px 13px -8px rgba(0,0,0,0.75);
        box-shadow: 3px 4px 13px -8px rgba(0,0,0,0.75);
    }

    .smallCardContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        > div {
            width: 48%;
            height: 250px;
            background: #FFFFFF;
            -webkit-border-radius: 7px;
            -moz-border-radius: 7px;
            border-radius: 7px;
            -webkit-box-shadow: 3px 4px 13px -8px rgba(0,0,0,0.75);
            -moz-box-shadow: 3px 4px 13px -8px rgba(0,0,0,0.75);
            box-shadow: 3px 4px 13px -8px rgba(0,0,0,0.75);
        }
    }
}