@import "./../../../../abstracts/variables";
@import "./../../../../abstracts/mixins";

.dark-gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 59.89%, rgba(0, 0, 0, 0.42) 68.02%);
    position: absolute
}

.events {
    &-event {
        display: flex  !important;
        @include flexPosition(flex-end, center);
        flex-direction: column;
        width: 30vw;        

        &:hover {
            .events-event-img-crop {
                height: 30vw;
                width: auto;
                max-height: 40rem;
                margin-top: -1.5rem;
            }
            .events-event-text {
                bottom: 6rem;
            }
        }

        // @media screen and (max-width: 1200px ) {
        //     .events-event:hover {
        //         .events-event-img-crop {
        //             height: 3vw;

        //         }
        //     }
        // }

        // @include response(xl) { 
        //     // width: 30vw;
        //     .events-event:hover {
        //         .events-event-img-crop {
        //             height: 2vw;
        //         }
        //         .events-event-text {
        //             bottom: 6rem;
        //         }
        //     }
        
        // }

        &-img {
            width: auto;
            height: 30vw;
            max-height: 40rem;
            @include flexPosition(center, center);

            &-crop {
                position: relative;
                height: calc(30vw - 4rem);
                width: calc(30vw - 4rem);
                max-width: 36rem;
                max-height: 36rem;
                @include flexPosition(center, center);


                @media screen and (max-width: 1200px ) {
                    height: calc(30vw - 2rem);
                    width: calc(30vw - 2rem);

                }
                
                -webkit-clip-path: circle(50% at 50% 50%);
                clip-path: circle(50% at 50% 50%);
                -webkit-transition: all .7s;
                -moz-transition: all .7s;
                -ms-transition: all .7s;
                transition: all .7s;
                
                &-src {
                    height: 30vw;
                    width: auto;
                    max-height: 40rem;
                }
            }
        }

        &-text {
            width: calc(30vw - 40px);
            max-width: 32rem;
            position: absolute;
            bottom: 5rem;

            transition: bottom .6s;

            &-name {
                font-family: font(merri);
                font-size: 3.5rem;
                text-align: center;
                font-weight: normal;
                color: color(white);
                display: inline-block;
                width: 100%;
                margin: 0;
                text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.89);

                @include response(xl) { font-size: size(md) - 0.5rem; }
                @include response(md) { font-size: size(sm); }
            }

            &-date {
                font-family: font(source);
                font-size: size(sm);
                text-align: center;
                margin-top: .5rem;
                color: color(white);
                text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.89);
            }
        }
    }
}