@import "./Assets/CSS/standarizedColours.scss";

@import "abstracts/variables";
@import "abstracts/mixins";

.container {
  padding: 40px;
  background: #419be0;
}

.slick-slide img {
  margin: auto;
}


// General stuff concerning the entire webpage
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%; 
  height: 100%;
  // overflow-x: hidden;
  // overflow-y: scroll;

  @include response(lg) {
      font-size: 50%; 
  }
}

body {
  font-family: font(source);
  height: 100%;
  // padding-top: size(header);
  overflow-y: scroll;
  overflow-x: hidden;
}
// End of general stuff concerning the entire webpage


