@import "abstracts/variables";
@import "abstracts/mixins";

.container {
  padding: 40px;
  background: #419be0;
}

.slick-slide img {
  margin: auto;
}


// General stuff concerning the entire webpage
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%; 
  height: 100%;
  // overflow-x: hidden;
  // overflow-y: scroll;

  @include response(lg) {
      font-size: 50%; 
  }
}

body {
  font-family: font(source);
  height: 100%;
  // padding-top: size(header);
  overflow-y: scroll;
  overflow-x: hidden;
}

h2 {

  @include response(sm) {
      font-size: size(lg) !important;
  }
}

@font-face {
  font-family: "Source Sans Pro";
  src: url('Assets/Fonts/Source_Sans_Pro/SourceSansPro-Regular.woff2') format('woff2'),
       url('Assets/Fonts/Source_Sans_Pro/SourceSansPro-Regular.woff') format('woff');      
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url('Assets/Fonts/Source_Sans_Pro/SourceSansPro-SemiBold.woff2') format('woff2'),
       url('Assets/Fonts/Source_Sans_Pro/SourceSansPro-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url('Assets/Fonts/Roboto_Condensed/RobotoCondensed-Bold.woff2') format('woff2'),
       url('Assets/Fonts/Roboto_Condensed/RobotoCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url('Assets/Fonts/Merriweather/Merriweather-Light.woff2') format('woff2'),
       url('Assets/Fonts/Merriweather/Merriweather-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url('Assets/Fonts/Merriweather/Merriweather-Regular.woff2') format('woff2'),
       url('Assets/Fonts/Merriweather/Merriweather-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url('Assets/Fonts/Merriweather/Merriweather-Bold.woff2') format('woff2'),
       url('Assets/Fonts/Merriweather/Merriweather-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

// @import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Roboto+Condensed:700|Source+Sans+Pro:400,600&display=swap');



// End of general stuff concerning the entire webpage


