@import "./../../../abstracts/variables";
@import "./../../../abstracts/mixins";

.team-nav {
    width: 100vw;
    @include flexPosition(center, center);
    margin: 4rem 0 5rem;

    &-list {
        @include flexPosition;
        border-bottom: 3px solid color(blue1);

        &-item {
            font-family: font(merri);
            font-weight: bold;
            font-size: 2rem;
            text-align: center;
            color: color(blue1);
            padding: 2rem;
            list-style: none;
            line-height: 100%;
            cursor: pointer;
            transition: all 0.4s;

            &:hover {
                background-color: color(blue6);
            }
        }

        .computer-nav-item {
            color: color(blue2);

            &:hover {
                background-color: #b4daea;
            }
        }
        .electronics-nav-item {
            color: color(green1);

            &:hover {
                background-color: #c6ecee;
            }
        }
    }
}
